{% extends 'base-back.html.twig' %}
{% block title %} AnnounceDashboard {% endblock %}

{% block body %}


        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Announce</h2>



                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                        <tr class="users-table-info">
                            <th>
                                <label class="users-table__checkbox ms-20">
                                    <input type="checkbox" class="check-all">Title
                                </label>
                            </th>
                            <th>Created At</th>
                            <th>Destination</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr>
                            <!-- Title -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    Starting your traveling blog with Vasco
                                </label>
                            </td>
                            <!-- Created at -->
                            <td>
                                17.04.2021
                            </td>
                            <!-- Destination -->
                            <td>
                                    Jenny Wilson

                            </td>
                            <!-- Category -->
                            <td>
                                <span class="badge-default">Default</span>
                            </td>
                            <!-- Edit -->
                            <td>
                                  <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                      <div class="sr-only">More info</div>
                                      <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">
                                      <li><a href="##">Edit</a></li>
                                      <li><a href="##">Delete</a></li>
                                      <li><a href="##">Trash</a></li>
                                    </ul>
                                  </span>
                            </td>
                        </tr>
                        <tr>

                            <!-- Title -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    Start a blog to reach your creative peak

                                </label>
                            </td>

                            <!-- Created at -->
                            <td>23.04.2021</td>
                            <!-- Destination -->
                            <td>
                                    Annette Black
                            </td>
                            <!-- Category -->
                            <td>
                                <span class="badge-default">Default</span>
                            </td>
                            <!-- Edit -->
                            <td>
                          <span class="p-relative">
                            <button class="dropdown-btn transparent-btn" type="button" title="More info">
                              <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                            <ul class="users-item-dropdown dropdown">
                              <li><a href="##">Edit</a></li>
                              <li><a href="##">Delete</a></li>
                              <li><a href="##">Trash</a></li>
                            </ul>
                          </span>
                            </td>

                        </tr>
                        <tr>
                            <!-- Title -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    Helping a local business reinvent itself

                                </label>
                            </td>

                            <!-- Created at -->
                            <td>23.04.2021</td>
                            <!-- Destination -->
                            <td>
                                    Kathryn Murphy
                            </td>
                            <!-- Category -->
                            <td>
                                <span class="badge-default">Default</span>
                            </td>
                            <!-- Edit -->
                            <td>
                          <span class="p-relative">
                            <button class="dropdown-btn transparent-btn" type="button" title="More info">
                              <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                            <ul class="users-item-dropdown dropdown">
                              <li><a href="##">Edit</a></li>
                              <li><a href="##">Delete</a></li>
                              <li><a href="##">Trash</a></li>
                            </ul>
                          </span>
                            </td>
                        </tr>
                        <tr>
                            <!-- Title -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    Caring is the new marketing

                                </label>
                            </td>

                            <!-- Created at -->
                            <td>23.04.2021</td>
                            <!-- Destination -->
                            <td>
                                Guy Hawkins
                            </td>
                            <!-- Category -->
                            <td>
                                <span class="badge-default">Default</span>
                            </td>
                            <!-- Edit -->
                            <td>
                          <span class="p-relative">
                            <button class="dropdown-btn transparent-btn" type="button" title="More info">
                              <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                            <ul class="users-item-dropdown dropdown">
                              <li><a href="##">Edit</a></li>
                              <li><a href="##">Delete</a></li>
                              <li><a href="##">Trash</a></li>
                            </ul>
                          </span>
                            </td>

                        </tr>
                        <tr>
                            <!-- Title -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    How to build a loyal community online and offline
                                </label>
                            </td>
                            <!-- created at -->
                            <td>23.04.2021</td>
                            <!-- Destination -->
                            <td>
                                    Robert Fox
                            </td>
                            <!-- Category -->
                            <td>
                                <span class="badge-default">Default</span>
                            </td>
                            <!-- Edit -->
                            <td>
                          <span class="p-relative">
                            <button class="dropdown-btn transparent-btn" type="button" title="More info">
                              <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                            <ul class="users-item-dropdown dropdown">
                              <li><a href="##">Edit</a></li>
                              <li><a href="##">Delete</a></li>
                              <li><a href="##">Trash</a></li>
                            </ul>
                          </span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </main>
        <!-- ! Footer -->


{% endblock %}



