{% extends 'base-back.html.twig' %}
{% block title %} ForumDashboard {% endblock %}


{% block body %}


        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Forum</h2>



                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                        <tr class="users-table-info">
                            <th>
                                <label class="users-table__checkbox ms-20">
                                    <input type="checkbox" class="check-all">Owner
                                </label>
                            </th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr>
                            <!-- Owner -->
                            <td>

                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    <div class="pages-table-img">
                                        <picture><source srcset="./img/avatar/avatar-face-04.webp" type="image/webp"><img src="./img/avatar/avatar-face-04.png" alt="User Name"></picture>
                                    </div>
                                    Jenny Wilson
                                </label>
                            </td>
                            <!-- Title -->
                            <td>
                                    Starting your traveling blog with Vasco

                            </td>

                            <!-- Edit -->
                            <td>
                                  <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                      <div class="sr-only">More info</div>
                                      <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">
                                      <li><a href="##">Edit</a></li>
                                      <li><a href="##">Delete</a></li>
                                      <li><a href="##">Trash</a></li>
                                    </ul>
                                  </span>
                            </td>
                        </tr>
                        <tr>
                            <!-- Owner -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    <div class="pages-table-img">
                                        <picture><source srcset="./img/avatar/avatar-face-03.webp" type="image/webp"><img src="./img/avatar/avatar-face-03.png" alt="User Name"></picture>
                                    </div>
                                    Annette Black
                                </label>
                            </td>
                            <!-- Title -->
                            <td>
                                    Start a blog to reach your creative peak
                            </td>

                            <!-- Edit -->
                            <td>
                          <span class="p-relative">
                            <button class="dropdown-btn transparent-btn" type="button" title="More info">
                              <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                            <ul class="users-item-dropdown dropdown">
                              <li><a href="##">Edit</a></li>
                              <li><a href="##">Delete</a></li>
                              <li><a href="##">Trash</a></li>
                            </ul>
                          </span>
                            </td>

                        </tr>
                        <tr>
                            <!-- Owner -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    <div class="pages-table-img">
                                        <picture><source srcset="./img/avatar/avatar-face-03.webp" type="image/webp"><img src="./img/avatar/avatar-face-03.png" alt="User Name"></picture>
                                    </div>
                                    Kathryn Murphy
                                </label>
                            </td>
                            <!-- Title -->
                            <td>
                                Helping a local business reinvent itself
                            </td>

                            <!-- Edit -->
                            <td>
                          <span class="p-relative">
                            <button class="dropdown-btn transparent-btn" type="button" title="More info">
                              <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                            <ul class="users-item-dropdown dropdown">
                              <li><a href="##">Edit</a></li>
                              <li><a href="##">Delete</a></li>
                              <li><a href="##">Trash</a></li>
                            </ul>
                          </span>
                            </td>
                        </tr>
                        <tr>
                            <!-- Owner -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    <div class="pages-table-img">
                                        <picture><source srcset="./img/avatar/avatar-face-03.webp" type="image/webp"><img src="./img/avatar/avatar-face-03.png" alt="User Name"></picture>
                                    </div>
                                    Guy Hawkins
                                </label>
                            </td>
                            <!-- Title -->
                            <td>
                                Caring is the new marketing
                            </td>


                            <!-- Edit -->
                            <td>
                          <span class="p-relative">
                            <button class="dropdown-btn transparent-btn" type="button" title="More info">
                              <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                            <ul class="users-item-dropdown dropdown">
                              <li><a href="##">Edit</a></li>
                              <li><a href="##">Delete</a></li>
                              <li><a href="##">Trash</a></li>
                            </ul>
                          </span>
                            </td>

                        </tr>
                        <tr>
                            <!-- Owner -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    <div class="pages-table-img">
                                        <picture><source srcset="./img/avatar/avatar-face-03.webp" type="image/webp"><img src="./img/avatar/avatar-face-03.png" alt="User Name"></picture>
                                    </div>
                                    Robert Fox
                                </label>
                            </td>
                            <!-- Title -->
                            <td>
                                How to build a loyal community online and offline
                            </td>

                            <!-- Edit -->
                            <td>
                          <span class="p-relative">
                            <button class="dropdown-btn transparent-btn" type="button" title="More info">
                              <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                            <ul class="users-item-dropdown dropdown">
                              <li><a href="##">Edit</a></li>
                              <li><a href="##">Delete</a></li>
                              <li><a href="##">Trash</a></li>
                            </ul>
                          </span>
                            </td>

                        </tr>
                        <tr>
                            <!-- Owner -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    <div class="pages-table-img">
                                        <picture><source srcset="./img/avatar/avatar-face-03.webp" type="image/webp"><img src="./img/avatar/avatar-face-03.png" alt="User Name"></picture>
                                    </div>
                                    Robert Fox
                                </label>
                            </td>
                            <!-- Title -->
                            <td>
                                How to build a loyal community online and offline
                            </td>

                            <!-- Edit -->
                            <td>
                          <span class="p-relative">
                            <button class="dropdown-btn transparent-btn" type="button" title="More info">
                              <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                            <ul class="users-item-dropdown dropdown">
                              <li><a href="##">Edit</a></li>
                              <li><a href="##">Delete</a></li>
                              <li><a href="##">Trash</a></li>
                            </ul>
                          </span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </main>
        <!-- ! Footer -->







{% endblock %}