{% extends 'base-back.html.twig' %}
{% block title %} ForumDashboard {% endblock %}


{% block body %}


        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Forum</h2>



                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                        <tr class="users-table-info">
                            <th>
                                <label class="users-table__checkbox ms-20">
                                    <input type="checkbox" class="check-all">Owner
                                </label>
                            </th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        {% for forum in forums %}
                        <tbody>
                        <tr>
                            <!-- Owner -->
                            <td>

                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    <div class="pages-table-img">
                                        <picture><source srcset="./img/avatar/avatar-face-04.webp" type="image/webp"><img src="./img/avatar/avatar-face-04.png" alt="User Name"></picture>
                                    </div>
                                    {{ forum.idowner.getFirstName() }}
                                </label>
                            </td>
                            <!-- Title -->
                            <td>
                                {{ forum.title }}

                            </td>

                            <!-- Edit -->
                            <td>
                                  <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                      <div class="sr-only">More info</div>
                                      <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">
                                      <li><a href="{{ path('deleteforum', {'id':forum.idforum}) }}">Delete</a></li>
                                    </ul>
                                  </span>
                            </td>
                        </tr>

                        </tbody>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </main>
        <!-- ! Footer -->







{% endblock %}