{% extends 'base-back.html.twig' %}
{% block title %} index {% endblock %}

{% block body %}


    <div class="layer"></div>
    <main class="page-center">
        <article class="sign-up">
            <h1 class="index__title">Welcome!</h1>
            <h3 class="index__subtitle"> Esprit admin  </h3>
            <div class="pages-table-img">
                <picture><source srcset="../../BackOffice/img/avatar/logo_app.png">
                    <img src="../../elegant/img/avatar/logo_app.png" ></picture>
            </div>

        </article>
    </main>




{% endblock %}





