{% extends 'base-back.html.twig' %}

{% block body %}
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
        <div class="container">
            <h2 class="main-title">Participate</h2>


            <div class="users-table table-wrapper">
                <table class="posts-table">
                    <!--Entete de tableau -->
                    <thead>
                    <tr class="users-table-info">
                        <th>Name</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <!-- ** -->
                    <!--Contenue de tableau -->

                    {% for participate in participates %}
                        {% if participate.event.idevent == id %}

                            <tbody>
                            <tr>

                                <!-- Name -->
                                <td>
                                    {{ participate.participent.firstname   }} {{ participate.participent.lastname }}
                                </td>
                                <!-- Role -->
                                <td>
                                    <div class="pages-table-img">
                                        {{  participate.participent.role }}
                                    </div>
                                </td>
                                <!-- Status -->
                                <td>
                                    <span class="badge-pending">{{ participate.participent.getState() }}</span>
                                </td>

                            </tr>
                            </tbody>
                        {% endif %}

                    {% endfor %}
                    <!-- ** -->
                </table>
            </div>

        </div>
    </main>
{% endblock %}