{% extends 'base-back.html.twig' %}

{% block body %}
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
        <div class="container">
            <h2 class="main-title">Participate</h2>


            <div class="users-table table-wrapper">
                <table class="posts-table">
                    <!--Entete de tableau -->
                    <thead>
                    <tr class="users-table-info">
                        <th>User</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <!-- ********* -->
                    <!--Contenue de tableau -->
                    <tbody>
                    <tr>
                        <!-- Image -->
                        <td>
                            <label class="users-table__checkbox">
                                <div class="pages-table-img">
                                    <picture><source srcset="BackOffice/img/avatar/avatar-face-04.webp" type="image/webp"><img src="../../elegant/img/avatar/avatar-face-04.png" alt="User Name"></picture>
                                </div>
                            </label>
                        </td>
                        <!-- Name -->
                        <td>
                            Jenny Wilson
                        </td>
                        <!-- Role -->
                        <td>
                            <div class="pages-table-img">
                                Admin
                            </div>
                        </td>
                        <!-- Status -->
                        <td>
                            <span class="badge-pending">Pending</span>
                        </td>

                    </tr>
                    <tr>
                        <!-- Image -->
                        <td>
                            <label class="users-table__checkbox">
                                <div class="pages-table-img">
                                    <picture><source srcset="BackOffice/img/avatar/avatar-face-03.webp" type="image/webp"><img src="../../elegant/img/avatar/avatar-face-03.png" alt="User Name"></picture>
                                </div>
                            </label>
                        </td>
                        <!-- Name -->
                        <td>
                            Annette Black
                        </td>
                        <!-- Role -->
                        <td>
                            <div class="pages-table-img">
                                Professor
                            </div>
                        </td>
                        <!-- Status -->
                        <td>
                            <span class="badge-pending">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <!-- Image -->
                        <td>
                            <label class="users-table__checkbox">
                                <div class="pages-table-img">
                                    <picture><source srcset="BackOffice/img/avatar/avatar-face-02.webp" type="image/webp"><img src="../../elegant/img/avatar/avatar-face-02.png" alt="User Name"></picture>
                                </div>
                            </label>
                        </td>
                        <!-- Name -->
                        <td>
                            Kathryn Murphy
                        </td>
                        <!-- Role -->
                        <td>
                            <div class="pages-table-img">
                                Professor
                            </div>
                        </td>
                        <!-- Status -->
                        <td>
                            <span class="badge-active">Active</span>
                        </td>


                    </tr>
                    <tr>
                        <!-- Image -->
                        <td>
                            <label class="users-table__checkbox">
                                <div class="pages-table-img">
                                    <picture><source srcset="BackOffice/img/avatar/avatar-face-05.webp" type="image/webp"><img src="../../elegant/img/avatar/avatar-face-05.png" alt="User Name"></picture>
                                </div>
                            </label>
                        </td>
                        <!-- Name -->
                        <td>
                            Guy Hawkins
                        </td>
                        <!-- Role -->
                        <td>
                            <div class="pages-table-img">
                                Admin
                            </div>
                        </td>
                        <!-- Status -->
                        <td>
                            <span class="badge-active">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <!-- Image -->
                        <td>
                            <label class="users-table__checkbox">
                                <div class="pages-table-img">
                                    <picture><source srcset="BackOffice/img/avatar/avatar-face-03.webp" type="image/webp"><img src="../../elegant/img/avatar/avatar-face-03.png" alt="User Name"></picture>
                                </div>
                            </label>
                        </td>
                        <!-- Name -->
                        <td>
                            Robert Fox
                        </td>
                        <!-- Role -->
                        <td>
                            <div class="pages-table-img">
                                Extern
                            </div>
                        </td>
                        <!-- Status -->
                        <td>
                            <span class="badge-pending">Pending</span>
                        </td>

                    </tr>
                    <tr>
                        <!-- Image -->
                        <td>
                            <label class="users-table__checkbox">
                                <div class="pages-table-img">
                                    <picture><source srcset="BackOffice/img/avatar/avatar-face-03.webp" type="image/webp"><img src="../../elegant/img/avatar/avatar-face-03.png" alt="User Name"></picture>
                                </div>
                            </label>
                        </td>
                        <!-- Name -->
                        <td>
                            Robert Fox
                        </td>
                        <!-- Role -->
                        <td>
                            <div class="pages-table-img">
                                Student
                            </div>
                        </td>
                        <!-- Status -->
                        <td>
                            <span class="badge-active">Active</span>
                        </td>


                    </tr>

                    </tbody>
                    <!-- ********* -->
                </table>
            </div>

        </div>
    </main>
{% endblock %}