{% extends 'base.html.twig' %}

{% block title %}New Test{% endblock %}

{% block body %}
    <form action="{{ path('testupload') }}">
        <input type="file" name="imageSubmited" id="img" accept=".gif, .jpg, .png">
        <button type="submit">submit</button>
    </form>
    {% for item in list %}
    {% if item is Alert %}
        <p>alert</p>
    {% endfor %}
{% endblock %}
