{% extends 'base.html.twig' %}

{% block title %}New Commented{% endblock %}

{% block body %}
    <h1>Create new Commented</h1>

    {{ include('commented/_form.html.twig') }}

    <a href="{{ path('app_commented_index') }}">back to list</a>
{% endblock %}
