<div><div class="adM">
</div><table style="background-position:center top" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <table cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td align="center">
                        <table style="background-color:transparent" width="600" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                            <tr>
                                <td align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td width="600" valign="top" align="center">
                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" style="font-size:0px">
                                                            <a><img src="https://ci4.googleusercontent.com/proxy/hKcKvjqG3yhkP4Lkd5Z0M91t73l0KWEXbU0QuB73Gy9Nf-ACj9YMsYmUVOL6I4ILuo19ZOm1QhErvWP2H6V12AD9IwbpcOEZlM4sPkfCV9GTgITzs4yg-hWVJb9uJs96COzXrIJe6QL6MiXw00BDwQZozsrxxA=s0-d-e1-ft#https://demo.stripocdn.email/content/guids/044e6da1-7cab-4976-8d32-6b98124ab427/images/logo_app.png" alt="" style="display:block" width="150" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 488px; top: 116px;"><div id=":ed" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Télécharger la pièce jointe " data-tooltip-class="a1V" data-tooltip="Télécharger"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td align="center">
                        <table style="background-color:transparent" width="600" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                            <tr>
                                <td align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td width="600" valign="top" align="center">
                                                <table style="border-radius:3px;border-collapse:separate;background-color:#fcfcfc" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fcfcfc">
                                                    <tbody>
                                                    <tr>
                                                        <td align="left">
                                                            <h2 style="color:#333333">Welcome!</h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td bgcolor="#fcfcfc" align="left">
                                                            <p>Hi {{ name }}, we're glad you're here! <br>&nbsp;now you have access to the EsprIN application, what are you waiting for? <br>GO! GO! GO !!!&nbsp; use the information below to log in to your account</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#fcfcfc" bgcolor="#fcfcfc" align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td width="560" valign="top" align="center">
                                                <table style="border-color:#efefef;border-style:solid;border-width:1px;border-radius:3px;border-collapse:separate;background-color:#ffffff" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <h3 style="color:#333333">Your account information:</h3>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <p style="color:#64434a;font-size:16px;line-height:150%">Login: <a href="##" target="_blank">{{ email }}</a></p>
                                                            <p style="color:#64434a;font-size:16px;line-height:150%">Password: {{ password }}</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td style="background-color:#666666" bgcolor="#666666" align="center">
                        <table style="background-color:transparent" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                            <tbody>
                            <tr>
                                <td align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td width="600" valign="top" align="center">
                                                <table style="background-color:#fff4f7;border-radius:3px;border-collapse:separate" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff4f7">
                                                    <tbody>
                                                    <tr>
                                                        <td bgcolor="#fff4f7" align="center" style="font-size:0">
                                                            <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="border-bottom:1px solid #fff4f7;background:rgba(0,0,0,0) none repeat scroll 0% 0%;height:1px;width:100%;margin:0px"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td style="background-color:#d0cdcd" bgcolor="#d0cdcd" align="center">
                        <table style="background-color:#fef5f5" width="600" cellspacing="0" cellpadding="0" bgcolor="#fef5f5" align="center">
                            <tbody>
                            <tr>
                                <td align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td width="560" valign="top" align="center">
                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" style="font-size:0px">
                                                            <a><img src="https://ci3.googleusercontent.com/proxy/Y_ly1N17DRRb6qOp2g6iRu91aMDrbSfb2ugb6PBoYLEt_Gkk5r5n7MJgX0MzQt7tbaybxmAAKE53MI1Vauu-fUoD5PkIKm1zslWQKpdgX4syFBlxPUkYPXQZc8v6JLfS9h6a4vpbqjEWXMqZdlVitxLgNLUf=s0-d-e1-ft#https://demo.stripocdn.email/content/guids/044e6da1-7cab-4976-8d32-6b98124ab427/images/vikings.png" alt="" style="display:block" width="100" class="CToWUd"></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table><div class="yj6qo"></div><div class="adL">
</div></div>